// Imposta il tuo Team ID Apple (10 caratteri) e un bundle ID registrato nel tuo account.
DEVELOPMENT_TEAM = B8SC92LPR5
PRODUCT_BUNDLE_IDENTIFIER = app.prism.dating
MARKETING_VERSION = 0.14.4
CURRENT_PROJECT_VERSION = 55
CODE_SIGN_ENTITLEMENTS = PRISM/PRISM.entitlements
CODE_SIGN_STYLE = Automatic
IPHONEOS_DEPLOYMENT_TARGET = 16.0
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1
